.jumbotron {
  padding: 5em;
  margin: 2em;
}

.center-aligned {
  text-align: center;
}

.card-aligned {
  width: 18rem;
  align-content: space-between;
}

.space-between {
  justify-content: space-between;
}

#medicineButton {
  font-size: xx-large;
  margin-top: 1.5rem;
}

.latin-text {
  margin-top: 2rem;
}
