<div class="card card-style">
  <div class="container">
    <img class="card-img" id="medicine_image" [src]='"assets/images/" + medicine.trademark + ".jpg"' alt="Medicine image">
    <div class="card-body">
      <h3 class="card-title">{{medicine.trademark}}</h3>
      <p *ngIf="medicine.companyName" class="bold-text">Компания :
        <a id="company-ref" href="company-details/{{medicine.companyName}}">{{medicine.companyName}}</a>
      </p>
      <p class="bold-text">INN : {{medicine.inn}}</p>
      <p class="bold-text">Ефект : {{medicine.pharmacologicalEffect}}</p>
      <p class="bold-text price">Цена : {{medicine.medicinePrice}} лв.</p>
      <a class="btn btn-primary text-white">Поръчай!</a>
    </div>
  </div>
</div>
