<div class="jumbotron margin">
  <div class="row">
    <div class="card center-aligned-text col-8">
      <div class="card-body">
        <h1 class="card-title">{{company?.companyName}}</h1>
        <h5 class="bold-text">Адрес : {{company?.companyAddress}}</h5>
        <h5 class="bold-text">Телефон : {{company?.companyPhoneNumber}}</h5>
      </div>
    </div>
    <div class="col-4">
      <img [src]='"assets/images/" + company?.companyName + ".jpg"' alt="Company logo image">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h5 id="pharmClass">Фармакологичен клас :</h5>
    </div>
    <div class="col-4">
      <select class="form-control" id="pharmClassSelect" [value]="'-всички-'" (change)="filterMedicines($event)">
        <option [ngValue]="undefined"></option>
        <option [ngValue]="pharmClass?.classDescription" *ngFor="let pharmClass of company?.pharmClasses">{{pharmClass.classDescription}}</option>
        <option [ngValue]="ALL_MEDICINE">-всички-</option>
      </select>
    </div>
  </div>
  <div *ngIf="showMedicines">
    <div *ngFor="let medicine of medicines">
      <app-medicine-card [medicine]="medicine"></app-medicine-card>
    </div>
  </div>
</div>
