.jumbotron {
  padding: 5em;
  margin: 2em;
}

.text-aligned {
  text-align: center;
}

.card-text {
  font-weight: bold;
}

.margin {
  margin-left: 17%;
  margin-right: 17%;
}

.card.card-style {
  margin-bottom: 1rem;
  width: 65%;
}

#medicine_image {
  width: 30%;
}
